@charset "utf-8";

body {
	/*background-image: url(../images/puzzle2.jpg);*/
	background-color: beige;
/*	color: #FFF;*/
/*	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;*/
}

#sharpener
{
	width:80%;
	height:80%;
}

#eraser
{
	width:70%;
	height:70%;
}

#stapler
{
	width:80%;
	height:80%;
}

#desk{
	width:100%;
	height:100%;
}

#chalkboard{
	width:100%;
	height:100%;
}

.hidden
{
	display: none;
}

#container{
	display:flex;
	flex-direction:row;
	width:80%;
	margin: 0 auto;
}

.itemHolder{
	background-color: white;
	width:450px;
	height:975px;
}
.musicSection{
	flex-direction:column;
}

.chalkBoard{
	width:900px;
	height:450px;
	margin-left:100px;
	margin-top:25px;
}

.desk{
	background:url(../images/desk.svg);
	background-repeat: no-repeat;
	width:900px;
	height:450px;
	margin-left:100px;
	margin-top:25px;
	display:flex;
	flex-direction:row;
}

.deskDrop{
	width:150px;
	height:150px;
	margin:5px;
	border-style: solid;
	border-width:5px;
	border-color: grey;
}

.itemDrop{
	width:445px;
	height:186px;
	border-style: solid;
	border-width:5px;
	border-bottom-width: 2.5px;
	border-color: grey;
}
